{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Подключение Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

</head>
<body>


    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">{{POLYCLINIC_NAME}}</a>
         
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
             
             <!-- элементы --> 
            </ul>
          </div>
        </div>
      </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>
